[submodule "vim/vim/bundle/nerdcommenter"]
	path = vim/vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/vim/bundle/ocamlspot-helpers"]
	path = vim/vim/bundle/ocamlspot-helpers
	url = git://github.com/johnelse/ocamlspot-helpers.git
[submodule "vim/vim/bundle/vim-xensource-log"]
	path = vim/vim/bundle/vim-xensource-log
	url = git://github.com/johnelse/vim-xensource-log
[submodule "vim/vim/bundle/vim-matchit"]
	path = vim/vim/bundle/vim-matchit
	url = git://github.com/tsaleh/vim-matchit.git
