[submodule "vim/vim/bundle/nerdcommenter"]
	path = vim/vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/vim/bundle/ocamlspot-helpers"]
	path = vim/vim/bundle/ocamlspot-helpers
	url = git://github.com/johnelse/ocamlspot-helpers.git
[submodule "vim/vim/bundle/vim-matchit"]
	path = vim/vim/bundle/vim-matchit
	url = git://github.com/tsaleh/vim-matchit.git
[submodule "vim/vim/bundle/syntastic"]
	path = vim/vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/vim/bundle/vim-fugitive"]
	path = vim/vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
